HMAC_SECRET=
FPE_KEY=
HMAC_ALGORITHM=HmacSHA256
LOCALE=en
SOURCE_DB_URL=jdbc:postgresql://localhost:5432/source
SOURCE_DB_USERNAME=username
SOURCE_DB_PASSWORD=password
TARGET_DB_URL=jdbc:postgresql://localhost:5460/target
TARGET_DB_USERNAME=username
TARGET_DB_PASSWORD=password
SCHEMA=public

# SINK_TYPE= # JDBC | DUMP
# SINK_OUTPUT_PATH=./dumps/dump.sql.gz
# SINK_COMPRESSION=GZIP    # NONE | GZIP | ZSTD